.root{
     -fx-background-color: linear-gradient(#383838, #838383);
     -fx-font-size: 12pt;
 }

.label{
    -fx-text-fill: "BLACK";
 }

 .button{
    -fx-background-color: linear-gradient(#dc9556, #ab4642);
    -fx-background-radius: 10;
    -fx-font: 15pt bold;
 }

 .text-area{
     -fx-background-color: white;
     -fx-background-radius: 0;
  }